<h1 class="text-center current-category"><%= @category.name if @category  %></h1>

<% if @books.count == 0 %>
	<h4>There is not books available on this category</h4>

<% else %>
	<div class="row">
		<% @books.each do |book| %>
			<div class="col-md-3">
				<%= link_to image_tag(book.book_img.url(:book_index)), book_path(book.id) %>
			</div>
		<% end %>
	</div>
<% end %>
