<h1 class="text-center current-category"><%= params[:category] %></h1>

<% if @books.count == 0 %>
	<h2>There is not books available on this category</h2>
<% else %>
	<% @books.each do |book| %>
		<a href="/books/<%= book.id %>">
			<%= image_tag book.book_img.url(:book_index) %>
		</a>
	<% end %>
<% end %>

<% if user_signed_in? %>
	<div class="col-sm-4">
		<%= link_to "Add Book", new_book_path, class: "btn btn-primary" %>
	</div>
<% end %>
