<h1>Edit review</h1>
<div class="form-horizontal">	
	<%= form_for([@book, @review]) do |f| %>
	
		<div class="form-group">
			<%= f.label "Rating" %>
			
			<div id="rating">
			</div>
		</div>

		<div class="form-group">
			<%= f.text_area :comment, class: "form-control" %>
		</div>
		
		<div class="form-group">
			<%= f.submit "Save Changes", class: "btn btn-success" %>
		</div>
</div>
<% end %>
